ul, li{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.gnb{
    position: relative;
    background-color: #ee4822;
    width: 100%;
    height: 128px;
    color: white;
}

h1{
    font-size: 14px;
    margin : 10px 0;
}

#tab li, #subTab li{
    font-size: 12px;
    float: left;
}

#subTab{
    position: absolute;
    top: 0;
    right: 0;
}

#tab li>a, #subTab li>a{
    display: inline-block;
    padding: 5px 10px;
}

/*  */
.clearfix{
    clear: both;
    display: block;
    content: '';
}

