@font-face {
    font-family: 'FontAwesome'; font-weight: normal; font-style: normal;
    src: url('../font/fontawesome-webfont.eot?v=4.2.0');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff?v=4.2.0') format('woff'),
    url('../font/fontawesome-webfont.ttf?v=4.2.0') format('truetype')
  } 

html,body {
    height:100%;margin:0;padding:0;border:0;vertical-align:baseline;background-color:transparent;
    font-size:10px;font-family:sans-serif;position:relative;line-height:1;
  }

  a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, button, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, input, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    background: transparent;
}

html, body{
    height:451px;
}
mobizen-body input, .popup-wrap input {
    display: block;
    margin: 0 auto;
    padding: 0 7px;
    width: 100%;
    height: 31px;
    /* min-height: 36px; */
    font-size: 14px;
    border: 1px solid #c4c4c4;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    transition: background .2s;
}

a:focus, button:focus, input[type=submit]:focus, input[type=button]:focus, input[type=image]:focus, input, div {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


.supported-browser #signin-form,
.supported-browser #notice-alert,
.supported-browser #app-download,
.supported-browser #mobizen-header,
.supported-browser #global-logo,
.supported-browser #plugin-download,
.supported-browser #download-programs {
    display: block;
}

#mobizen-body h1 {
    text-align: center;
    -webkit-transition: none;
    transition: none;
}

#mobizen-body h1 {
    height: 60px;
    padding: 34px 0;
    -webkit-transition: padding .2s;
    transition: padding .2s;
}

#mobizen-body {
    width: 254px;
    height: 451px;
    position: relative;
    margin: 0 auto;
}

#mobizen-body{
    background: #ebf0f1;
}

#signin-form, #simplemode-form {
    width: 210px;
    padding: 0 22px;
    text-shadow: 0 0 0;
    text-align: left;
}
#mobizen-body input, .popup-wrap input {
    display: block;
    margin: 0 auto;
    padding: 0 7px;
    width: 100%;
    height: 31px;
    /* min-height: 36px; */
    font-size: 14px;
    border: 1px solid #c4c4c4;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    transition: background .2s;
}


#signin-form, #simplemode-form {
    width: 210px;
    padding: 0 22px;
    text-shadow: 0 0 0;
    text-align: left;
}

#signin-form .passpreview {
    cursor: pointer;
    width: 22px;
    position: absolute;
    right: 32px;
    height: 17px;
    top: 48px;
}

#signin-button, #signin-google, #simplemode-button, #select-device button {
    display: block;
    position: relative;
    padding: 0;
    width: 210px;
    height: 38px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #333;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, .05);
    line-height: 38px;
    text-align: center;
    font-family: inherit;
    background-color: #333;
    cursor: pointer;
    display: none;
    transition: background .15s ease-out;
    -webkit-transition: background .15s ease-out;
}

a:link, a:visited, a:hover, a:active, button {
    color: #fff;
    text-decoration: none;
}

#signin-button {
    display: block;
    background-color: rgba(0, 0, 0, .7);
    margin: 10px auto;
}

#captcha-wrap {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: max-height .2s, opacity .2s;
    transition: max-height .2s, opacity .2s;
}


#signin-form .signupbutton {
    color: #000;
    text-align: center;
    padding: 17px 0;
    font-size: 12px;
    cursor: pointer;
}

#signin-form .signupbutton a {
    color: #636363;
    text-decoration: underline;
}
#signin-form #gplus-login span.label {
    margin-left: 41%;
    font-size: 14px;
}
#signin-form #gplus-login {
    background-color: #e08476;
    width: 100px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #e08476;
    margin: 0 auto;
    color: #fff;
    padding: 0 10px;
    margin-top: 45px;
    position: relative;
}

#signin-form #facebook-login {
    background-color: #6983c0;
    width: 100px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #6983c0;
    margin: 0 auto;
    color: #fff;
    padding: 0 10px;
    margin-top: 45px;
    margin-left: 5px;
    position: relative;
}

.icon-facebook {
    width: 10px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 13px;
    display: block;
    background-image: url("../img/snslogo.png");
    background-position: 10px -2px;
    background-size: 43px 22px;
}

.icon-gplus {
    width: 22px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    background-image: url("../img/snslogo.png");
    background-position: 0 0;
    background-size: 38px 20px;
}

#signin-form .sns-ortext {
    position: absolute;
    color: #666666;
    left: 91px;
    font-size: 12px;
    top: 20px;
    background-color: #ebf0f1;
}

#mobizen-body .forgot-password-link{
    display: block;
    width: 210px;
    text-decoration: underline; 
    text-align: center;
    color: #333;
    font-size: 13px;
}

#signin-form .sns-orline {
    border-bottom: 1px solid #c4c4c4;
    position: absolute;
    left: -22px;
    width: 254px;
    margin-top: 27px;
}

.captcha-box {
    height: 46px;
    border: 1px solid #aaa;
    border-radius: 3px;
    overflow: hidden;
    background: #FFF;
    position: relative;
}

.header-hidden-text {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

#signin-form .check-debug label, #signin-form .check-save-email label {
    position: relative;
    display: block;
    height: 17px;
    font-size: 13px;
    line-height: 17px;
    color: rgba(102, 102, 102, 1);
    text-shadow: none;
    cursor: pointer;
    margin-left: 22px;
}

#signin-form .check-debug label:before, #signin-form .check-save-email label:before {
    content: "";
    display: block;
    position: absolute;
    left: -22px;
    top: 0;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    background: #fff;
    border: 1px solid #c4c4c4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#signin-form .check-debug label:after, #signin-form .check-save-email label:after {
    content: "\f00c";
    font-family: FontAwesome;
    opacity: 0;
    position: absolute;
    left: -20px;
    top: 0;
    display: block;
    width: 17px;
    height: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-transition: opacity .08s ease-in;
    transition: opacity .08s ease-in;
}

.content-wrap{
    position: relative;
    width: 254px;
    height: 451px;
    background: url("../img/bg-extension.png");
    /* background-color: #636363; */
    margin: 0 auto;
}

#signin-form .check-debug label:hover::after, #signin-form .check-save-email label:hover::after {
    opacity: .4;
}

#signin-form .check-debug input[type=checkbox]:checked + label:after, #signin-form .check-save-email input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#signin-form .check-debug label:after, #signin-form .check-save-email label:after {
    content: "\f00c";
    font-family: FontAwesome;
    opacity: 0;
    position: absolute;
    left: -20px;
    top: 0;
    display: block;
    width: 17px;
    height: 17px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-transition: opacity .08s ease-in;
    transition: opacity .08s ease-in;
}

.header{
    color: white;
    text-align: right;
}

.footer{
    position: absolute;
    display: block;
    bottom: 0;
    text-align: center;
    color: white;
}

h1.device-list-title{
}

#signin-form .check-debug input[type=checkbox], #signin-form .check-save-email input[type=checkbox] {
    position: absolute;
    top: -9990px;
    width: 2px;
    min-width: 2px;
}

#mobizen-body #user-email, #mobizen-body #user-pw {
    margin-bottom: 8px;
}


#signin-form #facebook-login span.label {
    margin-left: 41%;
    font-size: 14px;
}

#mobizen-header, .section-header.main {
    width: 254px !important;
    height: 68px;
    text-align: center;
    position: absolute;
    top: 0;
}

#signin #mobizen-main {
    opacity: 2;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    margin-top: 15px;
}

.section-header.main .title1{
    color: white;
    font-size: 11px;
    text-align: right;
    margin-top: 10px;
}

.section-header.main .title1 a::after{
    content:' |  ';
}
.section-header.main .title2 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 32px;
}

#mobizen-main.show {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#commonSelect .device-list {
    margin: auto;
    margin-top: 32px;
    width: 100%;
    height: 162px;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    font-size: 33px;
}

#commonSelect .device-list .devices {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    text-align: center;
}

#mobizen-main h1 {
    font-size: 18px;
    text-align: center;
}

.checkboxUi{
    position: relative;
    width: 100%;
    height: 49px;
    vertical-align: -17px;
    margin-right: 5px;
}

#signin #mobizen-main button.start-connect, #signin #mobizen-main button.start-download-popup {
    width: 100%;
    height: 63px;
    background-color: #fff;
    color: #ee4822;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#signin > .section-inner #commonSelect .device-list {
    margin: auto;
    margin-top: 32px;
    width: 500px;
    height: 162px;
    background-color: rgba(0,0,0,0.3);
    text-align: left;
    font-size: 33px;
}

.checkboxUi label {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.checkboxUi .checkWrap {
    width: 100%;
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 4px;
    margin-right: 12px;
    margin-left: 12px;
}

.checkboxUi .checkWrap .check {
    text-align: center;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    float: left;
    position: relative;
    display: block;
    flex-shrink: 0;
    width: 100%;
    height: 44px;
    margin-right: 0;
    margin-left: 0;
    padding: 0 0 0 2px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset rgba(0, 0, 0, 0.4) 2px 2px 2px;
    border-radius: 3px;
}

.checkboxUi .checkWrap .check > div {
    color: rgba(0, 0, 0, 0.870588);
    background-color: #ee4822;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 6px;
    left: 6px;
    width: 50%;
    line-height: 24px;
    bottom: 6px;
    box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 2px;
}

.checkboxUi .checkWrap .check > div:after {
    font-family: "Nanum Gothic", "Segoe UI", sans-serif;
    font-size: 13px;
    vertical-align: -5px;
    font-weight: bold;
    color: #fff;
    content: 'Wireless';
    
}

.checkboxUi div.toggleLeft {
    display: none;
    left: 17px;
}

.checkboxUi div.toggleRight {
    display: block;
    right: 24px;
}
.checkboxUi div.toggleLeft {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 21px;
    color: rgba(255,255,255,0.4);
}

.checkboxUi input[type=checkbox] {
    opacity: 0;
}

.checkboxUi div.toggleRight, .checkboxUi div.toggleLeft {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    top: 21px;
    color: rgba(255,255,255,0.4);
}
main.content-wrap input, .popup-wrap input {
    display: inline-block;
    margin: 0 auto;
    padding: 0 7px;
    /* width: 100%; */
    height: 31px;
    /* min-height: 36px; */
    font-size: 14px;
    border: 1px solid #c4c4c4;
    font-family: inherit;
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .2s;
    transition: background .2s;
}

#signin > #commonSelect .device-list img.icon {
    vertical-align: middle;
}

#slider {
    position: relative;
    overflow: hidden;
    height: 20px;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0, .6);
    text-align: center;
    line-height: 20px;
  }
  